<div class="screen-container login-screen">
    <h2>Login</h2>

    <div>
        <input 
            #email 
            type="email" 
            name="email" 
            placeholder="Email" 
            autocomplete="off"
        />
    </div>
    <div>
        <input 
            #password 
            type="password" 
            name="password" 
            placeholder="Password" 
            autocomplete="off"
        />
    </div>

    <input 
        type="submit" 
        value="Login"
        class="button button-primary" 
        (click)="login(email.value, password.value)"
    />
</div>