
<app-error-messages></app-error-messages>
<div class="course-md">

    <h2>{{ (course$ | async)?.description }}</h2>

    <div *ngIf="detail$ | async as lessonDetail else masterTemplate">
        <button class="button button-active" (click)="backToMaster()">Back</button>
        <app-lesson-detail [lesson]="lessonDetail"></app-lesson-detail>
    </div>

    <ng-template #masterTemplate>
        <div class="lessons-nav">
            <button (click)="previousLessonsPage()">Previous</button>
            <button (click)="nextLessonsPage()">Next</button>
        </div>

        <app-lessons-list [lessons]="lessons$ | async" (selected)="selectedDetail($event)"></app-lessons-list>
    </ng-template>
</div>

