
<div class="screen-container">

    <h2>{{course?.description}}</h2>

    <table class="table lessons-list card card-strong" *ngIf="lessons">
        <tbody>
        <tr *ngFor="let lesson of lessons">
            <td class="lesson-title"> {{lesson.description}}</td>
            <td class="duration">
                <i class="md-icon duration-icon">access_time</i>
                <span>{{lesson.duration}}</span>
            </td>
        </tr>
        </tbody>
    </table>

    <div *ngIf="! lessons">Loading ...</div>

</div>

