<table class="table lessons-list card card-strong p-10 mt-3">
  <tbody>
    <tr *ngFor="let lesson of lessons">
      <td class="viewed">
        <input type="checkbox" [checked]="lesson.completed" (click)="toggleLessonViewed(lesson)">
      </td>
      <td class="lesson-title"> {{ lesson.description }}</td>
      <td class="duration">
        <i class="md-icon duration-icon">access_title</i>
        <span> {{ lesson.duration }}</span>
        <span>
          <button class="button button-highlight" (click)="delete(lesson)">
          X
          </button>
        </span>
      </td>
    </tr>
  </tbody>
</table>
